---
import { Image } from "astro:assets";
import dwojka from "../images/dwojka.jpg";
---

<div
    class="text-[#576081] w-full h-fit flex flex-col justify-center items-center py-4"
    id="about"
>
<p class="text-h3 sm:text-h2 font-bold h-full">O NAS</p>
    <div class="w-full h-full flex flex-col xl:flex-row justify-evenly items-center gap-4 px-3 pt-4">
        <Image
            src={dwojka}
            alt="Renata Duda-Błasiak i Sebastian Błasiak"
            class="w-4/5 h-2/5 xl:w-1/3 xl:h-2/3"
        />
        <div class="w-4/5 text-p sm:text-h6 xl:w-1/3 text-pretty h-2/3 flex flex-row items-center justify-center">
            <p>
                Jesteśmy podologami z Cieszyna. Stworzyliśmy specjalistyczny
                gabinet z myślą o osobach, dla których ważne są zdrowie i w
                pełni sprawne stopy. Pomoc i wsparcie znajdują u nas zarówno
                osoby z problemami stóp, jak i te, które oczekują fachowej
                pielęgnacji na najwyższym poziomie. Dzięki specjalistycznej
                edukacji i ciągłemu wzbogacaniu wiedzy i umiejętnością,latom
                doświadczeń,uczestnictwie w szkoleniach i kongresach naukowych
                nasze zabiegi są zgodne z najnowszą wiedzą podologiczną i
                pozwalają na skuteczne,inowacyjne rozwiązywanie problemów. W
                naszym gabinecie możecie być Państwo spokojni o swoje
                bezpieczeństwo ,przestrzegamy zasad higieny , wszystkie
                narzędzia używane podczas zabiegu poddawane są procesowi
                sterylizacji.Do zabiegów wykorzystywane są materiały
                jednorazowe,opatrunkowe, dezynfekcyjne wyłącznie renomowanych
                firm. Pomoc,profilatyka i poradnictwo są dla nas najważniejsze
            </p>
        </div>
    </div>
</div>
