---
import { Image } from 'astro:assets'
import logo from '../images/stupki.svg'
---
<header>
    <div class="w-full h-48 flex flex-col text-[#576081] justify-center items-center">
        <div class="w-1/3 h-36 flex flex-row justify-between items-center">
            <Image src={logo} alt="Logo BeautyRoom" class='w-20 h-20'/>
            <div class="flex flex-col w-1/3">
                <p class="text-h6 font-bold">Gabinet podologiczny</p>
                <p>Sebastian Błasiak</p>
                <p>Renata Duda-Błasiak</p>
            </div>
            <div class="flex flex-col w-1/3">
                <p>Nowe Miasto 6</p>
                <p>43-400 Cieszyn</p>
                <p>tel. 512 475 825</p>
            </div>
        </div>
        <div class="w-full h-5 flex flex-row items-center justify-center">
            <p>© Norbert Janik 2024</p>
        </div>
    </div>
</header>