---
import { Image } from 'astro:assets'
import logo from '../images/logo.svg'
---
<footer>
    <div class="w-full h-48 flex flex-col text-[#576081] justify-center items-center">
        <div class="w-full px-3 h-36 flex flex-row justify-center gap-4 md:gap-12 xl:gap-20 items-center">
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 sm:w-20 sm:h-20'/>
            <div class="flex flex-col w-fit">
                <p class="text-p 3xl:text-h5 sm:text-h6 font-bold">Gabinet podologiczny</p>
                <p class="text-p 3xl:text-h5">Sebastian Błasiak</p>
                <p class="text-p 3xl:text-h5">Renata Duda-Błasiak</p>
            </div>
            <div class="flex flex-col w-fit">
                <p class="text-p 3xl:text-h5">Nowe Miasto 6</p>
                <p class="text-p 3xl:text-h5">43-400 Cieszyn</p>
                <p class="text-p 3xl:text-h5">tel. 512 475 825</p>
            </div>
        </div>
        <div class="w-full text-p 3xl:text-h6 h-5 flex flex-row items-center justify-center">
            <p>© Norbert Janik 2025</p>
        </div>
    </div>
</header>