---

---

<div
    class="text-[#576081] bg-white w-full h-fit flex flex-col lg:justify-between items-center py-4 gap-4 scroll-m-24"
    id="gallery"
>
    <p class="text-h3 sm:text-h2 font-bold">GALERIA</p>
    <div class="w-fit h-fit grid-cols-3 gap-1.5 hidden md:grid">
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/1_1.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/1_2.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/1_3.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/1_4.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/1_5.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
        </div>
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/galeria/2_1.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/galeria/2_2.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/galeria/2_3.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/galeria/2_4.jpeg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/galeria/2_5.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
        </div>
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src=" /images/galeria/3_1.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_2.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_3.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_4.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_5.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
        </div>
    </div>
    <!--MOBILNA WERSJA -->
    <div class="w-fit h-fit grid grid-cols-1 gap-1.5 md:hidden">
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <img
                    src="/images/galeria/1_1.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/2_1.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_1.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <img
                    src="/images/galeria/1_2.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/2_2.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_2.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <img
                    src="/images/galeria/1_3.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/2_3.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_3.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <img
                    src="/images/galeria/1_4.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/2_4.jpeg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_4.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <img
                    src="/images/galeria/1_5.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/2_5.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                        <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/galeria/3_5.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
        </div>
    </div>
</div>
