---

---

<div
    class="text-[#576081] bg-creamy w-full h-fit flex flex-col lg:justify-between items-center py-4 gap-4 scroll-m-24"
    id="gallery"
>
    <p class="3xl:text-h1 text-h3 sm:text-h2 font-bold">GALERIA</p>
    <div class="w-fit h-fit grid-cols-3 gap-2 hidden md:grid">
        <div class="flex flex-col gap-2 justify-center items-center h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/img4.jpeg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/img1.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/img2.jpeg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/zdj3.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="w-fit py-3 px-8 h-10 3xl:h-12 bg-light-gray bg-opacity-80 rounded-2xl flex flex-row items-center justify-center"
            >
                <p class="text-h6 3xl:text-h4 text-white">
                    <a href="/galeria">Zobacz więcej</a>
                </p>
            </div>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src=" /images/img6.jpeg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/img3.jpg"
                    class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg"
                    alt="skibidi"
                />
            </div>
        </div>
    </div>
    <!--MOBILNA WERSJA -->
    <div class="w-fit h-fit grid grid-cols-1 gap-1.5 md:hidden">
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[10px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <img
                    src="/images/img2.jpeg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[10px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src="/images/zdj3.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
        </div>
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[10px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/img4.jpeg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[10px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <img
                    src="/images/img1.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
        </div>
        <div class="flex flex-col justify-center items-center gap-1.5 h-fit">
            <div
                class="border-[10px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <img
                    src=" /images/img6.jpeg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
            <div
                class="border-[10px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <img
                    src="/images/img3.jpg"
                    class="h-auto max-w-xs"
                    alt="skibidi"
                />
            </div>
                    <div
            class="w-fit mt-2 py-2 px-12 h-10 3xl:h-12 bg-light-gray bg-opacity-80 rounded-2xl flex flex-row items-center justify-center"
        >
            <p class="text-h6 3xl:text-h4 text-white">
                <a href="/galeria">Zobacz więcej</a>
            </p>
        </div>
        </div>
    </div>
</div>
