<div
    class="text-[#576081] font-medium w-full h-fit flex flex-col justify-center items-center py-4 scroll-m-24"
    id="pricelist"
>
    <p class="md:text-h3 text-h4 font-bold h-full">CENNIK</p>
    <div
        class="w-full h-full flex flex-col xl:flex-row justify-evenly items-center gap-4 md:px-3 pt-4"
    >
        <div
            class="w-full px-8 md:px-0 md:w-4/5 xl:w-1/2 text-p md:text-h6 3xl:text-h5 h-2/3 grid grid-cols-10"
        >
            <div class="col-span-6 py-2 text-h5 3xl:text-h4">NAZWA</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 text-h5 3xl:text-h4">CENA</div>
            <div class="col-span-6 py-2">Podstawowy zabieg podologiczny</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">120 zł</div>
            <div class="col-span-6 py-2">Specjalistyczny zabieg podologiczny</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">130-160 zł</div>
            <div class="col-span-6 py-2">Usunięcie zmian skórnych</div>
            <div class="col-span-4 py-2"></div>
            <div class="col-span-1 py-2"></div>
            <div class="col-span-5 py-2">Odcisk</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-1 py-2"></div>
            <div class="col-span-5 py-2">Każdy kolejny odcisk</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">20 zł</div>
            <div class="col-span-6 py-2">Usunięcie brodawki wirusowej</div>
            <div class="col-span-4 py-2"></div>
            <div class="col-span-1 py-2"></div>
            <div class="col-span-5 py-2">Pojedyńczej</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-1 py-2"></div>
            <div class="col-span-5 py-2">Mnogich(do 3 sztuk)</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">100 zł</div>
            <div class="col-span-6 py-2">Opracowanie pękających pięt</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">90 zł</div>
            <div class="col-span-6 py-2">Oczyszczanie paznokcia zmienionego chorobowego</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-6 py-2">Obcięcie i oszlifowanie wszystkich paznokci zmienionych chorobowo/dystrogicznych</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">100-130 zł</div>
            <div class="col-span-6 py-2">Korekta wrastającego paznokcia</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-6 py-2">Korekta wrastającego paznokcia - kontrola</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">50 zł</div>
            <div class="col-span-6 py-2">Założenie klamry tytanowej</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">170 zł</div>
            <div class="col-span-6 py-2">Kontrola z przełożeniem klamry</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-6 py-2">Rekonstrukcja płytki paznokciowej</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">50 zł</div>
            <div class="col-span-6 py-2">Pobranie materiału do badania mynologicznego</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-6 py-2">Komputerowe badanie stóp pod kątem wkładem indywidualnych</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">100 zł</div>
            <div class="col-span-6 py-2">Wkładki indywidualne</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">150-350 zł</div>
            <div class="col-span-6 py-2">Konsultacja podologiczna</div>
            <div class="col-span-2 py-2"></div>
            <div class="col-span-2 py-2 grid items-center">80 zł</div>
            <div class="col-span-10 py-2">
                <p class="text-h6 3xl:text-h5 text-center font-bold"><a href="/">Powrót</a></p>
            </div>
        </div>
    </div>
</div>
