---
import { Image } from "astro:assets";
import dwojka from "../images/dwojka.jpg";
---

<div
    class="text-[#576081] w-full h-fit flex flex-col justify-center items-center py-4 scroll-m-24"
    id="pricelist"
>
    <p class="md:text-h3 text-h4 font-bold h-full">CENNIK</p>
    <div
        class="w-full h-full flex flex-col xl:flex-row justify-evenly items-center gap-4 md:px-3 pt-4"
    >
        <div class="w-full text-p md:text-h6">
            <div class="bg-creamy flex flex-row justify-center">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2 text-h5">NAZWA</div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2 text-h5">CENA</div>
                </div>
            </div>

            <div class="bg-white flex flex-row justify-center">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2 text-h5">
                        Podstawowy zabieg podologiczny
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2 text-h5">120 zł</div>
                </div>
            </div>
            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Specjalistyczny zabieg podologiczny
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">130-160 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Usunięcie zmian skórnych - odcisk
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Usunięcie zmian skórnych - każdy kolejny
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">20 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Usunięcie brodawki wirusowej - pojedynczej
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Usunięcie brodawki wirusowej - mnogich (do 3 sztuk)
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">100 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">Opracowanie pękających pięt</div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">90 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Oczyszczanie paznokcia zmienionego chorobowo
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Obcięcie i oszlifowanie wszystkich paznokci zmienionych
                        chorobowo/dystrogicznych
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">100-130 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Korekta wrastającego paznokcia
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Korekta wrastającego paznokcia - kontrola
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">50 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">Założenie klamry tytanowej</div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">170 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Kontrola z przełożeniem klamry
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Rekonstrukcja płytki paznokciowej
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">50 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Pobranie materiału do badania mykologicznego
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">
                        Komputerowe badanie stóp pod kątem wkładek
                        indywidualnych
                    </div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">100 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-white">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">Wkładki indywidualne</div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">150-350 zł</div>
                </div>
            </div>

            <div class="flex flex-row justify-center bg-creamy">
                <div class="w-full md:w-4/5 xl:w-3/5 flex flex-row">
                    <div class="w-8/12 py-2">Konsultacja podologiczna</div>
                    <div class="w-1/12 py-2"></div>
                    <div class="w-3/12 py-2">80 zł</div>
                </div>
            </div>
        </div>
    </div>
</div>
