---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/global.css'
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Podolog Cieszyn – Gabinet Podologiczny Renata Duda-Błasiak oferuje profesjonalne zabiegi na wrastające i wkręcające paznokcie, usuwanie odcisków, modzeli oraz pedicure leczniczy. Doświadczony podolog, indywidualne podejście, komfortowa lokalizacja w centrum Cieszyna." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full h-screen font-normal">
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

